h1 {
  text-align: center;
  color: #FCE6E5;
  font-family: 'Shrikhand', cursive;
}

.table-board {
  border: 3px solid #FCE6E5;
  /*width: 300px;
  height: 300px;*/
  margin: auto;
  border-collapse: collapse;
}

td {
  border: 4px solid #FCE6E5;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2em;
  font-family: 'Shrikhand', cursive;
  color: #FCE6E5;
}

:hover td {
  background-color: ;
}
